:root {
  --bg-dark: linear-gradient(to top, #000000, #0a0a0a);
  --bg-card: #ffffff;

  --accent-main: #e50914;
  --accent-secondary: #b20710;

  /* Text colors */
  --text-primary: #ffffff;
  --text-secondary: rgb(247, 241, 241, 0.5);
  --text-dark: rgb(0, 0, 0, 0.6);

  /* Text styles */
  --font-heading: 32px;
  --font-subheading: 21px;
  --font-body: 18px;
  
  --letter-spacing-heading: 0.128px;
  --letter-spacing-subheading: -0.374px;
  --letter-spacing-body: 0.05em;

  --lineheight-heading: 1.1;
  --lineheight-subheading: 1.1;
  --lineheight-body: 1.5;
  
  --weight-bold: 700;
  --weight-semibold: 500;
  --weight-regular: 400;

  --footer-bg: #fbfbfb;

}

