:root {
  /* Background colors */
  --bg-light: #f8f7f3;
  --bg-card: #ffffff;

  --accent-main: #e50914;
  --accent-secondary: #b20710;

  /* Text colors */
  --text-primary: #1c1c1e;
  --text-secondary: #6b7280;

  /* Text styles */
  --font-heading: 32px;
  --font-subheading: 17px;
  --font-body: 12px;
  
  --letter-spacing-heading: 0.128px;
  --letter-spacing-subheading: -0.374px;
  --letter-spacing-body: -0.12px;

  --lineheight-heading: 36px;
  --lineheight-subheading: 25px;
  --lineheight-body: 16.0005px;
  
  --weight-semibold: 600;
  --weight-regular: 400;

  --footer-bg: #fbfbfb;

}

