:root {
  /* Background colors */
  --bg-dark: linear-gradient(to top, #2c1c1e, #27191b, #231718, #1e1415, #1a1112, #170f10, #140c0d, #10090a, #0d0708, #080505, #040203, #000000);
  --bg-card: #ffffff;

  --accent-main: #e50914;
  --accent-secondary: #b20710;

  /* Text colors */
  --text-primary: #ffffff;
  --text-secondary: rgb(247, 241, 241, 0.5);
  --text-dark: rgb(0, 0, 0, 0.6);

  /* Text styles */
  --font-heading: 32px;
  --font-subheading: 17px;
  --font-body: 12px;
  
  --letter-spacing-heading: 0.128px;
  --letter-spacing-subheading: -0.374px;
  --letter-spacing-body: -0.12px;

  --lineheight-heading: 36px;
  --lineheight-subheading: 25px;
  --lineheight-body: 16.0005px;
  
  --weight-semibold: 600;
  --weight-regular: 400;

  --footer-bg: #fbfbfb;

}

