
footer {
    background: rgba(44, 28, 30, 0.205);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text-secondary);
    margin-top: auto;
    padding: 1rem;
    width: 100%;
}

.footer-container {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-container p {
    opacity: 0.7;
    font-size: 0.7rem;
}

