@import './colors.css';

/* Page Layout */
.login-page {
    background: var(--bg-dark);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-container {
    align-self: center;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 450px;
    padding: 3rem;
    width: 100%;
}

/* Header */
.login-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-header h1 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: var(--text-primary);
}

.login-header p {
    font-size: 0.75rem;
    letter-spacing: 0.1px;
    color: var(--text-secondary);
}

/* Form */
.form-field-login {
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    color: var(--text-primary);
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 0 0 0.5rem 0.1rem;
    
}

.login-container input {
    background: none;
    border: 1px solid rgba(203, 209, 224, 0.2);
    border-radius: 12px;
    color: var(--text-secondary);
    font-size: 1rem;
    height: 56px;
    padding: 0.9rem;
    width: 100%;
}

.login-container input:focus {
    background: black;
    border-color: var(--accent-secondary);
    box-shadow: 0 0 0 3px rgb(178, 7, 16, 0.15);
    outline: none;
    transition: all 0.2s ease;
}

.login-container button {
    border: 1px solid var(--accent-main);
    border-radius: 10px;
    background-color: var(--accent-main);
    color: var(--bg-card);
    font-size: var(--font-subheading);
    font-weight: var(--weight-subheading);
    letter-spacing: var(--letter-spacing-subheading);
    line-height: var(--lineheight-subheading);
    margin-top: 1rem;
    outline: none;
    width: 100%;
    height: 56px;
}

.login-container button:hover {
    border-color: rgba(229, 9, 20, 0.5);
    background: var(--accent-secondary);
    transform: translateY(-1px);
}

.login-container button:active {
    border-color: rgba(178, 7, 16, 0.5);
    background: var(--accent-main);
    transform: translateY(1px);
}

/* Error States */
.login-container .error-message {
    display: block;
    font-size: 0.75rem;
    color: var(--accent-main);
}

.login-container .error-message.general {
    text-align: center;
    padding: 0.75rem;
}

.login-logo {
    width: 96px;
    height: auto;
    object-fit: contain;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        padding: 2rem;
        max-width: 60%;
    }

    .login-header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 620px) {
    .login-container {
        padding: 2rem;
        max-width: 60%;
    }

    .login-header h1 {
        font-size: 1.5rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .login-page {
        padding: 1rem;
    }

    .login-container {
        padding: 1.5rem;
        border-radius: 20px;
        max-width: 90%;
    }

    .login-header {
        margin-bottom: 2rem;
    }

    .login-header h1 {
        font-size: 1.75rem;
    }

    .login-container input {
        height: 48px;
        font-size: 0.875rem;
    }

    .login-container button {
        height: 48px;
        font-size: 0.9rem;
        margin-top: 2rem;
    }
}
