@import './colors.css';


.login-page {
    background: linear-gradient(45deg, 
        #1a0f2e 0%, 
        #7b2cbf 25%, 
        #9d4edd 50%, 
        #ff69b4 75%, 
        #1a0f2e 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-container {
    width: 100%;
    max-width: 450px;
    padding: 3rem;
    background: rgba(45, 27, 78, 0.4);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.login-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.login-header h1 {
    font-size: 2.4rem;
    font-weight: 600; 
    color: var(--text-primary);
    letter-spacing: -0.2px;
}

.login-header p {
    font-size: 0.75rem;
    color: var(--text-secondary);
    opacity: 0.5;
    letter-spacing: 0.1px;
}

.login-container form {
    display:flex;
    flex-direction: column;
}

.login-container input{
    width: 100%;
    height: 56px;
    padding: 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    color: var(--text-primary);
    font-size: 0.9rem;
    transition: all 0.2s ease;
    margin-bottom: 1.5rem;

}

.login-container input:focus {
    outline: none; 
    background: rgba(255, 255, 255, 0.08); 
    border-color: var(--accent-pink);
    transition: all 0.2s ease;
}

.login-container input::placeholder {
    color: rgba(255, 255, 255, 0.4); 
}

.login-container label {
    display: block;
    font-size: 14px;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: var(--text-primary);
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

.login-container button {
    height: 56px;
    background: white;
    color: var(--bg-dark);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 1.5rem;
}

.login-container button:hover {
    background: rgba(255, 255, 255, 0.2); 
    border-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.02) translateY(-1px);
    color: white;
}

.login-container button:active {
    transform: translateY(0);
}