.movies-page {
    background: var(--bg-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 4rem;
}
.movie-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.movie-container h1 {
    margin-top: 2rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
    font-size: var(--font-subheading);
    font-weight: var(--weight-semibold);
    letter-spacing: var(--letter-spacing-body);
    line-height: var(--lineheight-subheading);
    color: var(--text-primary);
}
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem;
    width: 100%;
}

.movie-grid > div {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all 0.2s ease;
}

.movie-grid > div:hover {
    transform: scale(1.1);
}

.movie-grid img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    display: block;
}


.movie-grid button {
    align-items: center;
    border-radius: 50%;
    border: none;
    background: var(--accent-secondary);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: center;
    height: 36px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    z-index: 10;
    transition: all 0.2s ease;

}

.movie-grid button:hover {
    background: var(--accent-main);
    transform: scale(1.1)
}

.movie-grid button:active {
    transform: scale(0.95)
}
