.nav-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
}

.nav-logo {
    display: flex;
    flex-direction: row;
}
.nav-logo img {
    display: flex;
    align-items: center;
    width: 100px;
}

ul {
    align-items: center;
    color: var(--text-primary);
    list-style: none;
    display: flex;
    gap: 2rem;
}

li {
    color: var(--text-primary);
    cursor: pointer;
}