nav {
    border-radius: 16px;
    font-size: 16px;
    position: fixed;
    top: 0%;
    left: 5%;
    right: 5%;
    width: auto;
    z-index: 1000;
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

nav.scrolled {
    background:rgb(44, 54, 67, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3),0 8px 12px 6px rgba(0,0,0,.15);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.nav-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.nav-logo {
    display: flex;
    flex-direction: row;
}
.nav-logo img {
    width: 120px;
}

.nav-bar {
    margin: 0 3rem;
}
.nav-bar ul {
    align-items: center;
    color: var(--text-primary);
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-bar li {
    color: var(--text-primary);
    cursor: pointer;
    font-weight: var(--weight-semibold);
    letter-spacing: 0.64px;
}

.nav-bar a {
    color: var(--text-primary);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-bar a:hover {
    background: var(--accent-secondary);
}