.search-page {
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    padding-top: 5rem;
}

.search-container-wrapper {
    
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-image: linear-gradient(to top, #431418, #341216, #250f12, #18080c, #000000);
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 65vh;
    justify-content: center;
    padding: 2rem 0;
    overflow: hidden; 
}



.search-container {
    width: 50%;
    
}

.logo-container-search {
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: var(--text-primary);
}
.logo-container-search img{
    height: auto;
    width: 120px;
}

.logo-container-search h1{
    text-align: center;
    opacity: 0.8;
    font-size: var(--font-heading);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letter-spacing-heading);
    line-height: var(--lineheight-heading);
}
.search-container form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.search-container input {
    background: var(--bg-card);
    border-radius: 26px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    color: var(--text-dark);
    font-size: 18px;
    height: 50px;
    outline: none;
    padding: 1rem;
    width: 100%;
}

.search-container input:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

.search-container input:focus {
    box-shadow: 0px 3px 10px 0px rgba(229, 9, 20, 0.4);
}

.search-container button {
    border: none;
    border-radius: 10px;
    background-color: var(--accent-main);
    color: var(--bg-card);
    font-size: var(--font-subheading);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing-subheading);
    line-height: var(--lineheight-subheading);
    outline: none;
    width: 200px;
    height: 50px;
}

.search-container button:hover {
    background: var(--accent-secondary);
}

.search-container button:active {
    background: var(--accent-main);
    transform: translateY(1px);
}

.movie-grid-search {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
}

.movie-grid-search > div {
    
    height: 300px;
    width: 215px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.movie-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 1rem 1rem 1rem;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4), transparent);
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}
.movie-details {
    position: relative;
    transition: all 0.2s ease;
}
.movie-details:hover {
    transform: scale(1.07);
    box-shadow:
    0 0px 50px #1D1839;
}

.movie-details:hover .movie-title{
    opacity: 1;
    visibility: visible;
}
.movie-details button {
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    color: var(--accent-main);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
    transition: all 0.2s ease;
}

.movie-details button:hover {
    background: var(--accent-main);
    transform: scale(1.1);
    color: white;
}

.movie-details button:active {
    background: rgba(255, 255, 255, 0.9);
    transform: scale(0.95);
    color: var(--accent-main);
}
.movie-details img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    display: block;
}

.movie-details img:hover {
    opacity: 0.9;
}



.movies-container-search {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.movies-container-search  h1 {
    color: var(--text-primary);
    opacity: 0.7;
}
