.search-page {
    background: var(--bg-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    padding-top: 5rem;
}

.search-container-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 2rem 0;
}

.search-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.logo-contaienr-search img{
    height: auto;
    width: 300px;
}
.search-container form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.search-container input {
    background: var(--bg-card);
    border-radius: 26px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    color: var(--text-dark);
    font-size: 18px;
    height: 50px;
    outline: none;
    padding: 1rem;
    width: 50%;
}

.search-container input:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

.search-container input:focus {
    box-shadow: 0px 3px 10px 0px rgba(229, 9, 20, 0.4);
}

.search-container button {
    border: none;
    border-radius: 10px;
    background-color: var(--accent-main);
    color: var(--bg-card);
    font-size: var(--font-subheading);
    font-weight: var(--weight-subheading);
    letter-spacing: var(--letter-spacing-subheading);
    line-height: var(--lineheight-subheading);
    outline: none;
    width: 150px;
    height: 50px;
}

.search-container button:hover {
    background: var(--accent-secondary);
}

.search-container button:active {
    background: var(--accent-main);
    transform: translateY(1px);
}

.movie-grid-search {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}

.movie-grid-search > div {
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
    border-radius: 12px;
    
}

.movie-grid-search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.movies-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 6rem;

}

.movies-container-search  h1 {
    color: var(--text-primary);
    opacity: 0.7;
}


