@import './colors.css';

.signup-page {
    background: linear-gradient(45deg, 
        #1a0f2e 0%, 
        #7b2cbf 25%, 
        #9d4edd 50%, 
        #ff69b4 75%, 
        #1a0f2e 100%);
    height:100vh;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    padding: 4rem;
}

.signup-container {
    padding: 2rem;
    background: white;
    width: 40%;
    align-self:stretch;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.sigup-photo-section{
    background: var(--bg-dark);
    width: 40%;
    align-self:stretch;
}
